<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="main__articles">
    <app-big-card
    photoCover="https://placehold.co/600x400"
    title="Rebelião Ganha Impulso: Novas Alianças se Formam"
    description="Em uma reviravolta surpreendente na galáxia, grupos rebeldes dispersos encontraram uma nova unidade e força para enfrentar a tirania da Nova Ordem."
    ></app-big-card>
  </div>
  <div class="sub__articles">
    <app-small-card
    title="Rebelião Ganha Impulso: Novas Alianças se Formam"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
